<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>all lecturers</title>
</head>
<body>
    <a href="{% url "lecturer-create" %}">Add a new lecturer</a>
    <ul>
        {% for lecturer in lecturers %}
            <li><a href="{% url "lecturer-detail" lecturer.pk %}">{{ lecturer }}</a></li>
        {% endfor %}

    </ul>

</body>
</html>